# Auswertung Anteil Aktienkapital

## Für den Index UBS 100

In [2]:
import pandas as pd
import matplotlib

In [30]:
Firmen_Liste = pd.read_csv('Master_File_FERTIG.csv')  
Firmen_ListeX = pd.read_csv('Master_File_FERTIG.csv')

In [32]:
#Wie viel Prozent des Aktienkapitals/Stimmrechte ist bekannt?
Firmen_Liste['Anteil'] = Firmen_Liste['Anteil'].str.strip('%')
Firmen_Liste['Anteil'] = pd.to_numeric(Firmen_Liste['Anteil'], downcast='float')
#Es sind also 85 Firmen. Für den bekannten Besitz Teile Summe 'Anteil' durch 8500 Prozent.
Firmen_Liste['Anteil'].sum()/8500*100

38.88751148897059

In [33]:
print('Von den 85 ausgewerteten Firmen sind ' +str(Firmen_Liste['Anteil'].sum()/8500*100) +' Prozent des Aktienkapitals bekannt.')
print('Somit befinden sich ' +str(100-Firmen_Liste['Anteil'].sum()/8500*100) +' Prozent der Aktien im Streubesitz.')

Von den 85 ausgewerteten Firmen sind 38.88751148897059 Prozent des Aktienkapitals bekannt.
Somit befinden sich 61.11248851102941 Prozent der Aktien im Streubesitz.

In [34]:
#Welchen Ländern gehört wie viel? TOTAL AKTIENKAPITAL
NewDF = pd.DataFrame(Firmen_Liste.groupby('Country')['Anteil'].sum()/8500*100)
pd.DataFrame.sort_values(NewDF, by='Anteil', ascending=False)

                             Anteil
Country
Schweiz                   23.762856
USA                        4.725083
Deutschland                1.772456
UK                         1.186029
Canada                     1.149863
Fürstentum Liechtenstein   0.929174
Niederlande                0.705843
Russland                   0.574353
Israel                     0.345098
Österreich                 0.332331
Norway                     0.280165
France                     0.266134
Bermuda                    0.258906
Principality of Monaco     0.247577
United Arab Emirates       0.239382
Spain                      0.237882
Singapore                  0.229416
Sweden                     0.199882
Denmark                    0.177176
China                      0.175941
Kingdom of Saudia Arabia   0.151000
Qatar                      0.147294
United States              0.138835
Italien                    0.131765
Thailand                   0.107059
Frankreich                 0.102471
Irland                     0.096471
Malta                      0.086941
Saudi Arabia               0.044109
Schweden                   0.038000
Greece                     0.030608
Cayman Islands             0.017412

In [35]:
#Bekannt sind also gut 38,9 Prozent des gesamten Aktienkapitals, was 2546% Total entspricht. Weil, siehe unten. 
8500*0.389

3306.5

In [36]:
#Welchen Ländern gehört wie viel? Anteil am bekannten Aktienkapital.
NewDF = pd.DataFrame(Firmen_Liste.groupby('Country')['Anteil'].sum()/3306.5*100)
pd.DataFrame.sort_values(NewDF, by='Anteil', ascending=False)

                             Anteil
Country
Schweiz                   61.087036
USA                       12.146743
Deutschland                4.556442
UK                         3.048918
Canada                     2.955945
Fürstentum Liechtenstein   2.388621
Niederlande                1.814507
Russland                   1.476486
Israel                     0.887141
Österreich                 0.854320
Norway                     0.720218
France                     0.684150
Bermuda                    0.665568
Principality of Monaco     0.636445
United Arab Emirates       0.615379
Spain                      0.611523
Singapore                  0.589758
Sweden                     0.513836
Denmark                    0.455467
China                      0.452291
Kingdom of Saudia Arabia   0.388175
Qatar                      0.378648
United States              0.356903
Italien                    0.338727
Thailand                   0.275216
Frankreich                 0.263421
Irland                     0.247996
Malta                      0.223499
Saudi Arabia               0.113390
Schweden                   0.097686
Greece                     0.078683
Cayman Islands             0.044760

In [37]:
#Wem gehört am meisten? Anteil am bekannten Aktienkapital.

DF = pd.DataFrame(Firmen_Liste.groupby('BO')['Anteil'].sum()/3306.5*100)
pd.DataFrame.sort_values(DF, by='Anteil', ascending=False)

                        Anteil
BO
Blackrock             5.652654
Schindler Gruppe      2.057462
Etat de Vaud          2.053228
Eidgenossenschaft     1.980947
Matthias Reinhart     1.840919
...                        ...
Marrie-Pierre Rogers  0.016958
Hans Grüter           0.016958
Marina Nielsen        0.016958
Andreas Fleischmann   0.016958
Sika AG               0.001512

[319 rows x 1 columns]

## Weitere Aktienindexe:
### Swiss Market Index (SMI)

In [38]:
SMI_Liste = pd.read_csv('SMI.csv')

In [40]:
#Nur die Daten für den SMI extrahieren
SMI_Liste = pd.merge(Firmen_ListeX, SMI_Liste, on='Company', how='inner')

In [54]:
SMI_Liste.to_csv(r'SMI_Ganz.csv')

In [41]:
SMI_Liste['Company'].describe()

count                   69
unique                  15
top       Roche Holding AG
freq                    18
Name: Company, dtype: object

In [42]:
SMI_Liste['Anteil'] = SMI_Liste['Anteil'].str.strip('%')
SMI_Liste['Anteil'] = pd.to_numeric(SMI_Liste['Anteil'], downcast='float')
#EEs gibt also Werte für 15 Firmen. Für den bekannten Besitz Teile Summe 'Anteil' durch 1500 Prozent.
SMI_Liste['Anteil'].sum()/1500*100

24.81500244140625

In [43]:
print('Von den 15 ausgewerteten SMI-Firmen sind ' +str(SMI_Liste['Anteil'].sum()/1500*100) +' Prozent des Aktienkapitals bekannt.')
print('Somit befinden sich ' +str(100-SMI_Liste['Anteil'].sum()/1500*100) +' Prozent der Aktien der SMI-Firmen im Streubesitz.')

Von den 15 ausgewerteten SMI-Firmen sind 24.81500244140625 Prozent des Aktienkapitals bekannt.
Somit befinden sich 75.18499755859375 Prozent der Aktien der SMI-Firmen im Streubesitz.

In [56]:
#Welchen Ländern gehört wie viel? Anteil Aktienkapital
SMI_DF = pd.DataFrame(SMI_Liste.groupby('Country')['Anteil'].sum()/1500*100)
pd.DataFrame.sort_values(SMI_DF, by='Anteil', ascending=False)

                Anteil
Country
Schweiz      13.264603
USA           7.569607
Canada        1.156889
UK            0.910417
Niederlande   0.807778
France        0.666667
Norway        0.251500
Singapore     0.187542

In [45]:
#Wem gehört am meisten? Anteil am bekannten Aktienkapital.

pd.DataFrame(SMI_Liste.groupby('BO')['Anteil'].sum()/3546*100)
pd.DataFrame.sort_values(DF, by='Anteil', ascending=False)

                        Anteil
BO
Blackrock             5.652654
Schindler Gruppe      2.057462
Etat de Vaud          2.053228
Eidgenossenschaft     1.980947
Matthias Reinhart     1.840919
...                        ...
Marrie-Pierre Rogers  0.016958
Hans Grüter           0.016958
Marina Nielsen        0.016958
Andreas Fleischmann   0.016958
Sika AG               0.001512

[319 rows x 1 columns]

### und der SMI Expanded

In [46]:
SMI_Expanded = pd.read_csv('SMI Expanded.csv')

In [47]:
SMI_Expanded = pd.merge(Firmen_ListeX, SMI_Expanded, on='Company', how='inner')

In [55]:
SMI_Expanded.to_csv(r'SMI Expanded Ganz.csv')

In [48]:
SMI_Expanded['Company'].describe()

count                  190
unique                  39
top       Roche Holding AG
freq                    18
Name: Company, dtype: object

In [49]:
#Es gibt also Werte für 39 Firmen. Für den bekannten Besitz Teile Summe 'Anteil' durch 3900 Prozent.
SMI_Expanded['Anteil'] = SMI_Expanded['Anteil'].str.strip('%')
SMI_Expanded['Anteil'] = pd.to_numeric(SMI_Expanded['Anteil'], downcast='float')
SMI_Expanded['Anteil'].sum()/3900*100

32.93772223056891

In [50]:
print('Von den 39 ausgewerteten SMI-Expanded-Firmen sind ' +str(SMI_Expanded['Anteil'].sum()/3900*100) +' Prozent des Aktienkapitals bekannt.')
print('Somit befinden sich ' +str(100-SMI_Expanded['Anteil'].sum()/3900*100) +' Prozent der Aktien der SMI-Expanded-Firmen im Streubesitz.')

Von den 39 ausgewerteten SMI-Expanded-Firmen sind 32.93772223056891 Prozent des Aktienkapitals bekannt.
Somit befinden sich 67.06227776943109 Prozent der Aktien der SMI-Expanded-Firmen im Streubesitz.

In [51]:
#Welchen Ländern gehört wie viel? Anteil Aktienkapital in Prozent
SMI_DF = pd.DataFrame(SMI_Expanded.groupby('Country')['Anteil'].sum()/3900*100)
pd.DataFrame.sort_values(SMI_DF, by='Anteil', ascending=False)

                             Anteil
Country
Schweiz                   19.021637
USA                        7.380790
Deutschland                1.336218
UK                         0.886570
France                     0.551282
United Arab Emirates       0.521731
Canada                     0.444957
Singapore                  0.359990
Kingdom of Saudia Arabia   0.329103
Qatar                      0.321026
Norway                     0.317051
Niederlande                0.310684
Bermuda                    0.290513
Israel                     0.232051
Malta                      0.189487
United States              0.097436
Saudi Arabia               0.096135
Schweden                   0.082821
Greece                     0.066709
China                      0.048462
Fürstentum Liechtenstein   0.032045
Österreich                 0.021026

In [52]:
#Wem gehört am meisten? Anteil am bekannten Aktienkapital.

pd.DataFrame(SMI_Expanded.groupby('BO')['Anteil'].sum()/3546*100)
pd.DataFrame.sort_values(DF, by='Anteil', ascending=False)

                        Anteil
BO
Blackrock             5.652654
Schindler Gruppe      2.057462
Etat de Vaud          2.053228
Eidgenossenschaft     1.980947
Matthias Reinhart     1.840919
...                        ...
Marrie-Pierre Rogers  0.016958
Hans Grüter           0.016958
Marina Nielsen        0.016958
Andreas Fleischmann   0.016958
Sika AG               0.001512

[319 rows x 1 columns]

In [53]:
SMI_Expanded['BO'].value_counts().head(50)

Blackrock                                         29
The Capital Group Companies, Inc.                  7
UBS Fund Management (Switzerland) AG               6
Norges Bank (the Central Bank of Norway)           4
MFS Investment Management                          3
Melinda French Gates                               2
Chase Nominees Ltd.                                2
Massachusetts Financial Services Company           2
BNP PARIBAS SA                                     2
Silchester International Investors LLP             2
Urs Wietlisbach                                    2
Credit Suisse Group AG                             2
Dodge & Cox                                        2
Alfred Gantner                                     2
Dodge & Cox International Stock Fund               2
Credit Suisse Funds AG                             2
Marcel Erni                                        2
Harris Associates L.P.                             2
T. Rowe Price Associates, Inc.                     2
Government of Singapore                            2
Impax Asset Management Limited                     1
Hans-Ulrich Rihs                                   1
Lazard Asset Management LLC                        1
Alony-Hetz Properties and Investments Ltd.         1
Martin und Rosmarie Ebner                          1
Alexander Hoffmann                                 1
Simone Maag de Moura Cunha                         1
Allianz SE                                         1
Sika AG                                            1
Sabine Duschmalé                                   1
Temasek Holdings (Private) Limited                 1
Schindler Holding AG                               1
Eidgenossenschaft                                  1
State of Qatar, Doha, Qatar                        1
Novartis Holding AG                                1
Khaled Olayan                                      1
Stiftung Wolf                                      1
Marie-Anne Hoffmann                                1
Marina Hoffmann                                    1
LSV Asset Management                               1
o The Corporation Trust Company (DE)               1
Jörg Duschmalé                                     1
Invesco Ltd                                        1
Novartis AG                                        1
Manuela Stoffel                                    1
FIL Limited ("FIL")                                1
Annamaria Diethelm-Pandiani                        1
Alecta pensionsförsäkring                          1
Hayat Olayan                                       1
Stichting Administratiekantoor Frere-Bourgeois     1
Name: BO, dtype: int64

## Relative Auswertung SMI Expanded, mit Hilfe der Marktkapitalisierung der Firmen

In [ ]:
# Erst wenn man weiss, welchen Wert die jeweiligen Beteiligungen haben, kann man einevverlässliche Aussage zum Besitz treffen:
########## HIER FÜR SMI EXPANDED #############
#HIER GLEICHE ICH DIE WERTE MIT DER BEKANNTEN MARKTKAPITALISIERUNG DER FIRMEN AB. SO ENTSTEHT ERST EIN AUSSAGEKRÄFTIGES BILD.
#ES GILT ZU BEMERKEN, DASS DIE SMI FIRMEN 80 PROZENT DES GESAMTEN SIX AKTIENINDEXES IN SICH VEREINEN.

In [6]:
SMI_MC_E = pd.read_csv('SMI Expanded mit Marktkapitalisierung.csv')
SMI_E = pd.read_csv('SMI Expanded Ganz.csv')

In [7]:
SMI_Merge2 = pd.merge(SMI_MC_E, SMI_E, on='Company', how='inner')

In [8]:
SMI_Merge2['Anteil in Mio. CHF'] = SMI_Merge2['Marktkapitalisierung, in Mio.'] /100* SMI_Merge2['Anteil']

In [9]:
SMI_Merge2 = SMI_Merge2[['Company','Marktkapitalisierung, in Mio.', 'Anteil in Mio. CHF', 'BO', 'DS', 'Country']]

In [10]:
SMI_Merge2['BO'] = SMI_Merge2['BO'].replace('BlackRock, Inc., New York, NY, U.S.A. (Mother Company)', 'Blackrock')

In [11]:

#Wie viele Milliarden Besitz im SMIEx sind bekannt?
SMI_Merge2['Anteil in Mio. CHF'].sum()/1000

275.4541231261793

In [12]:
#WELCHE LÄNDER BESITZEN AM MEISTEN AM SMIEx? 
SMI_Anteil_Mia2 = pd.DataFrame(SMI_Merge2.groupby('Country')['Anteil in Mio. CHF'].sum())
pd.DataFrame.sort_values(SMI_Anteil_Mia2, by='Anteil in Mio. CHF', ascending=False)

                          Anteil in Mio. CHF
Country
Schweiz                        164469.072614
USA                             79309.829466
UK                               5914.727768
Niederlande                      4278.232978
Canada                           3741.783476
France                           3433.979380
Norway                           2720.598226
Qatar                            1872.936904
Deutschland                      1688.927392
Singapore                        1656.977535
United Arab Emirates             1342.638627
Saudi Arabia                     1069.599912
Kingdom of Saudia Arabia          787.316869
Malta                             759.949911
Bermuda                           700.008805
Israel                            452.042070
Fürstentum Liechtenstein          356.533304
Schweden                          274.112658
China                             258.024501
United States                     233.097320
Greece                            103.520838
Österreich                         30.212572

In [13]:
#Welche Firmen besitzen am meisten am SMIEx
SMI_Anteil_Mia_Personen2 = pd.DataFrame(SMI_Merge2.groupby('BO')['Anteil in Mio. CHF'].sum(normalize=True))
table = pd.DataFrame.sort_values(SMI_Anteil_Mia_Personen2, by='Anteil in Mio. CHF', ascending=False)
table.head(50)

                                          Anteil in Mio. CHF
BO
Blackrock                                       49064.636563
The Capital Group Companies, Inc.               21541.855994
Eidgenossenschaft                               15841.692450
Schindler Gruppe                                14938.952608
Novartis Holding AG                             14055.670959
Novartis AG                                     10800.122274
Kühne Holding AG                                 8976.658725
Nestlé S.A.                                      8632.520169
Swiss Re AG                                      7956.822645
EMESTA HOLDING AG                                7876.259484
Emasan AG                                        7120.480783
MFS Investment Management                        3438.469283
UBS Group AG                                     3009.478522
Norges Bank (the Central Bank of Norway)         2617.433346
Finanzdirektion des Kantons Zürich               2594.309900
ELM B.V.                                         2407.341240
Schmidheiny, Thomas                              2393.124864
Straumann Dr. Thomas                             2275.065910
Melinda French Gates                             2271.261030
Compagnie de Saint-Gobain                        2257.854000
Dodge & Cox                                      2173.784088
Jacobs Stiftung                                  2061.325571
Verein "Jacobs Familienrat"                      2061.325571
Patria Genossenschaft                            1974.107583
Harris Associates L.P.                           1927.301189
Credit Suisse Group AG                           1732.418571
Martin und Rosmarie Ebner                        1729.540548
William H. III Gates                             1672.929720
Maag Rudolf                                      1622.792678
State of Qatar                                   1597.588720
Morgan Stanley, c                                1523.263392
o The Corporation Trust Company (DE)             1523.263392
Harris Associates Investment Trust               1417.859989
Silchester International Investors LLP           1321.146307
UBS Fund Management (Switzerland) AG             1297.390138
Martin and Rosmarie Ebner                        1260.497202
Massachusetts Financial Services Company         1223.353782
Dodge & Cox International Stock Fund             1204.584063
Frederic Hoffmann                                1186.329414
Isabel Hoffmann                                  1186.329414
Sabine Duschmalé                                 1186.329414
Kasia Barbotin-Larrieu                           1186.329414
Lucas Hoffmann                                   1186.329414
Jörg Duschmalé                                   1186.329414
Lukas Duschmalé                                  1186.329414
André Hoffmann                                   1186.329414
Marie-Anne Hoffmann                              1186.329414
Tatiana Fabre                                    1186.329414
Stiftung Wolf                                    1186.329414
Marina Hoffmann                                  1186.329414

In [21]:
SMI_Anteil_Miax = pd.DataFrame(SMI_Merge2.groupby('BO')['Anteil in Mio. CHF'].sum())

In [22]:
#ANTEIL PERSONEN IN PROZENT, SMI Ex
new = SMI_Anteil_Miax['Anteil in Mio. CHF'].sum() / SMI_Anteil_Miax['Anteil in Mio. CHF']

In [23]:
new = 100/SMI_Anteil_Miax['Anteil in Mio. CHF'].sum()  * SMI_Anteil_Miax['Anteil in Mio. CHF']

In [30]:
new.sort_values(ascending=False).head(60)

BO
Blackrock                                   17.812272
The Capital Group Companies, Inc.            7.820488
Eidgenossenschaft                            5.751118
Schindler Gruppe                             5.423390
Novartis Holding AG                          5.102727
Novartis AG                                  3.920842
Kühne Holding AG                             3.258858
Nestlé S.A.                                  3.133923
Swiss Re AG                                  2.888620
EMESTA HOLDING AG                            2.859373
Emasan AG                                    2.584997
MFS Investment Management                    1.248291
UBS Group AG                                 1.092552
Norges Bank (the Central Bank of Norway)     0.950225
Finanzdirektion des Kantons Zürich           0.941830
ELM B.V.                                     0.873954
Schmidheiny, Thomas                          0.868793
Straumann Dr. Thomas                         0.825933
Melinda French Gates                         0.824551
Compagnie de Saint-Gobain                    0.819684
Dodge & Cox                                  0.789164
Verein "Jacobs Familienrat"                  0.748337
Jacobs Stiftung                              0.748337
Patria Genossenschaft                        0.716674
Harris Associates L.P.                       0.699681
Credit Suisse Group AG                       0.628932
Martin und Rosmarie Ebner                    0.627887
William H. III Gates                         0.607335
Maag Rudolf                                  0.589134
State of Qatar                               0.579984
Morgan Stanley, c                            0.553001
o The Corporation Trust Company (DE)         0.553001
Harris Associates Investment Trust           0.514735
Silchester International Investors LLP       0.479625
UBS Fund Management (Switzerland) AG         0.471000
Martin and Rosmarie Ebner                    0.457607
Massachusetts Financial Services Company     0.444123
Dodge & Cox International Stock Fund         0.437308
Stiftung Wolf                                0.430681
Lucas Hoffmann                               0.430681
Catherine Oeri                               0.430681
Marie-Anne Hoffmann                          0.430681
Marina Hoffmann                              0.430681
Kasia Barbotin-Larrieu                       0.430681
Andreas Oeri                                 0.430681
Jörg Duschmalé                               0.430681
André Hoffmann                               0.430681
Tatiana Fabre                                0.430681
Oeri Maja                                    0.430681
Isabel Hoffmann                              0.430681
Vera Michalski                               0.430681
Alexander Hoffmann                           0.430681
Frederic Hoffmann                            0.430681
Sabine Duschmalé                             0.430681
Lukas Duschmalé                              0.430681
BNP PARIBAS SA                               0.426977
Hauser Rudolf                                0.404618
Blomi Holding AG                             0.401047
Urs Wietlisbach                              0.398606
Alfred Gantner                               0.398606
Name: Anteil in Mio. CHF, dtype: float64

In [14]:
SMI_Anteil_MiaY = pd.DataFrame(SMI_Merge2.groupby('Country')['Anteil in Mio. CHF'].sum())

In [16]:
new2 = 100/SMI_Anteil_MiaY['Anteil in Mio. CHF'].sum()  * SMI_Anteil_MiaY['Anteil in Mio. CHF']

In [18]:
#ANTEIL Länder IN PROZENT, SMI Ex
new2.sort_values(ascending=False)

Country
Schweiz                     59.708336
USA                         28.792391
UK                           2.147264
Niederlande                  1.553156
Canada                       1.358405
France                       1.246661
Norway                       0.987677
Qatar                        0.679945
Deutschland                  0.613143
Singapore                    0.601544
United Arab Emirates         0.487427
Saudi Arabia                 0.388304
Kingdom of Saudia Arabia     0.285825
Malta                        0.275890
Bermuda                      0.254129
Israel                       0.164108
Fürstentum Liechtenstein     0.129435
Schweden                     0.099513
China                        0.093672
United States                0.084623
Greece                       0.037582
Österreich                   0.010968
Name: Anteil in Mio. CHF, dtype: float64